<div class="navbar">
  <div class="navbar-inner">
  	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
  	<%= link_to "Condo Motion", user_signed_in? ? sites_url(subdomain: "www") : root_url(subdomain: "www"), class: "brand" %>
  	<div class="nav-collapse">
	  	<ul class="nav pull-right">
        <% unless user_signed_in? %>
  	      <li class="<%= cp(root_path) %>"><%= link_to "Tour", root_path %></li>
  				<li class="<%= cp(about_path) %>"><%= link_to "About", about_path %></li>
  				<li class="<%= cp(contact_path) %>"><%= link_to "Contact", contact_path %></li>
  				<li class="<%= cp(pricing_path) %>"><%= link_to "Pricing", pricing_path %></li>
        <% end %> 

				<% if user_signed_in? %>
					<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% if can? :edit, current_company %>
              <li><%= link_to "Edit Company", edit_company_path(current_company) %></li>
              <% end %>
              <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Sign out", destroy_user_session_url(subdomain: "www"), :method => :delete %></li>
            </ul>
          </li>
				<% else %>
					<li class="<%= cp(new_user_registration_path) %>"><%= link_to "Sign Up", new_user_registration_path %></li>
					<li class="<%= cp(new_user_session_path) %>"><%= link_to "Sign In", new_user_session_path %></li>
				<% end %>
	    </ul>	
  	</div>
  </div>
</div>