<%= form_for(@post, :html => {:multipart => true}) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @post.site.nil? %>
    <div class="field">
      <%= f.label :site %>
      <%= collection_select :post, :site_id, @sites, :id, :name %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <% if @post.post_type == 'news' %>
    <div class="field">
      <%= f.label :content %>
      <%= f.text_area :content, rows: 5 %>
    </div>
  <% end %>
  <%= f.hidden_field :post_type %>
  <%= f.hidden_field :site_id %>
  <div class="field">
    <%= f.label :permission %>
    <%= f.text_field :permission_id %>
  </div>
  <% unless @post.post_type == 'news' %>
    <div class="field">
      <%= f.label :attachment %>
      <%= f.file_field :attachment %>
    </div>
  <% end %>
  <% if @post.post_type == 'photos' %>
    <div class="field">
      <%= f.label :remote_attachment_url, "or image URL" %>
      <%= f.text_field :remote_attachment_url %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Submit", class: "btn" %>
  </div>
<% end %>
