<p>
	<%= link_to @current_site.name, root_url(subdomain: @current_site.subdomain) %>
	<% if can? :read, News %>
	| <%= link_to "News", news_index_url(subdomain: @current_site.subdomain) %>
	| <%= link_to "Documents", documents_url(subdomain: @current_site.subdomain) %>
	| <%= link_to "Photos", photos_url(subdomain: @current_site.subdomain) %>
	<% end %>

	<% if can? :edit, @current_site %>
	  | <%= link_to 'Edit Site', edit_site_url(@current_site, subdomain: "www") %>
	<% end %>
	<% if current_user && current_user.manager? %>
	  | <%= link_to 'Dashboard', sites_url(subdomain: "www") %>
	<% end %>
	<% if user_signed_in? %>
	  | <%= link_to "Sign Out", destroy_user_session_url(subdomain: @current_site.subdomain), method: :delete %>
	<% else %>
	  | <%= link_to "Sign In", new_user_session_url(subdomain: @current_site.subdomain) %>
	<% end %>
</p>