<h1><%= current_company.name %></h1>

<ul>
<% current_company.users.where(:manager => true).each do |user| %>
  <li><%= user.email %></li>
<% end %>
</ul>

<%= form_tag batch_create_managers_memberships_path, :method => :post do %>
  <%= label_tag "Add managers (emails separated by commas)" %>
  <%= text_area_tag :emails %>
  <%= submit_tag "Invite!", class: "btn" %>
<% end %>
  
<%= render @sites %>
<div class="clearfix"></div>

<% if can? :create, Site %>
  <br />
  <%= link_to 'New Site', new_site_path %>
<% end %>