<h1><%= current_company.name %></h1>

<ul>
<% current_company.users.each do |user| %>
  <li><%= user.email %> (<%= user.manager? ? "Manager" : "Non-manager" %>)</li>
<% end %>
</ul>

<%= render @sites %>
<div class="clearfix"></div>

<% if can? :create, Site %>
  <br />
  <%= link_to 'New Site', new_site_path %>
<% end %>