
<p>
  <%= @site.name %> <br>
  <%= @site.address %> <br>
  <%= @site.city %>, <%= @site.state %> <%= @site.zip %>
</p>

<div class="well">
  <%= @site.description %>
</div>


<% if can? :edit, @site %>
  <div style="position: fixed; bottom: 0px; height: 40px;">
    <%= form_for @site, html: { class: "form-inline" } do |f| %>
      <%= f.select :layout_name, [["Standard", "site"], ["Dark", "dark"]] %>
      <%= f.submit "Submit", class: "btn" %>
    <% end %>
  </div>
<% end %>
