<% if params[:post_type].nil? %>
<p>
  <%= @site.name %> <br>
  <%= @site.address %> <br>
  <%= @site.city %>, <%= @site.state %> <%= @site.zip %>
</p>

<div class="well">
  <%= @site.description %>
</div>
<% end %>

<% @site.posts.where(:post_type => params[:post_type]).each do |post| %>
  <% if can? :read, post %>
    <%= render :partial => post.post_type, :object => post %>
  <% end %>
<% end %>

