<!DOCTYPE html>
<html>
<head>
  <title>Condo Motion</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <style type="text/css">
  body {
  	
  }
  .well { color: #333; }
  .header {
  	padding: 50px 0px;
  	background: rgb(85, 98, 112);
  	border-top: 5px solid rgb(79, 184, 179);
  	margin-bottom: 10px;
  }
  .header a {
  	color: #fff;
  }
  </style>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if notice %>
		<div class="flash alert alert-info"><%= notice %></div>
	<% end %>
	<% if alert %>
  	<div class="flash alert"><%= alert %></div>
  <% end %>

  <div class="header">
  	<div class="container-fluid">
  		<%= render "sites/menu" %>
  	</div>
  </div>
	<div class="container-fluid">
		<%= yield %>
	</div>

</body>
</html>